@media screen and (max-width:1440px) {
    .provisionSect {
        min-height: 783px;
        padding-inline: 100px;
    }

    /* Animations start */

    .bg_img_prov_1 {
        width: 12.854vw;
        height: 12.854vw;
        left: -4.604vw;
        top: -5.417vw;
    }

    .bg_img_prov_2 {
        width: 28.854vw;
        height: 28.854vw;
        left: -10.833vw;
        top: -11.646vw;
    }

    .bg_img_prov_3 {
        width: 22.208vw;
        height: 22.208vw;
        right: -9.021vw;
        top: -11.104vw;
    }

    .bg_img_prov_4 {
        left: 51.979vw;
        top: 15.296vw;
        width: 42.552vw;
        height: 23.8vw;
        animation: appearFromRight_XXL 1.2s ease-in-out;
        transform: rotate(10deg);
    }

    @keyframes appearFromRight_XXL {
        0% {
            left: 43.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 51.979vw;
        }
    }

    .bg_img_prov_5 {
        position: absolute;
        width: 210px;
        height: 210px;
        background-repeat: no-repeat;
        left: 75.167vw;
        top: 35.646vw;
        z-index: 9;
        background-size: cover;
        background-image: url(../img/third-img-element_1.svg);
        animation: fallInFromTopRight_law 2.4s ease-in-out infinite;

    }

    @keyframes fallInFromTopRight_law {
        0% {
            top: 19vw;
            left: 100vw;
            height: 210px;
        }

        40% {
            opacity: 0.4;
        }

        100% {
            top: 35.646vw;
            left: 75.167vw;
            opacity: 0;
            height: 210px;
            ;
        }
    }


    .bg_img_prov_6 {
        position: absolute;
        width: 210px;
        height: 210px;
        background-repeat: no-repeat;
        left: 75.167vw;
        top: 45.646vw;
        z-index: 9;
        background-size: cover;
        background-image: url(../img/third-img-element_1.svg);
        animation: fallInFromTopRight_law-A 2s ease-in-out infinite;

    }

    @keyframes fallInFromTopRight_law-A {
        0% {
            top: 24vw;
            left: 100vw;
            height: 210px;
        }

        40% {
            opacity: 0.4;
        }

        100% {
            top: 45.646vw;
            left: 75.167vw;
            opacity: 0;
            height: 210px;
            ;
        }
    }

    .bg_img_prov_7 {
        position: absolute;
        width: 110px;
        height: 70px;
        background-image: url(../img/logo_run_monet.svg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 50vw;
        left: 82vw;
        transform: rotate(37deg);
        z-index: 1;
        animation: fifth_M 85s linear infinite;
    }

    @keyframes fifth_M {
        0% {
            top: 77%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 55%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 22%;
            right: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 99%;
            left: 96%;
            transform: rotate(90deg);
        }

        40% {
            top: 11%;
            left: 77%;
            transform: rotate(0deg);
        }

        50% {
            top: 22%;
            left: 39%;
            transform: rotate(100deg);
        }

        60% {
            top: 99%;
            left: 19%;
        }

        70% {
            top: 33%;
            left: 21%;
            transform: rotate(0deg);
        }

        80% {
            top: 99%;
            left: 74%;
            transform: rotate(-70deg);
        }

        90% {
            top: 55%;
            left: 54%;
            transform: rotate(-170deg);
        }


        100% {
            top: 11%;
            left: 2%;
            transform: rotate(-360deg);
        }
    }


    .ty_1 {
        animation: fifth_M_ty_1 85s linear infinite;
    }

    @keyframes fifth_M_ty_1 {
        0% {
            top: 20%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 70%;
            right: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 22%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 65%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 88%;
            left: 60%;
            transform: rotate(0deg);
        }

        50% {
            top: 5%;
            left: 15%;
            transform: rotate(100deg);
        }

        60% {
            top: 73%;
            right: 96%;
        }

        70% {
            top: 15%;
            left: 1%;
            transform: rotate(0deg);
        }

        80% {
            top: 81%;
            left: 40%;
            transform: rotate(-70deg);
        }

        90% {
            top: 5%;
            left: 90%;
            transform: rotate(-170deg);
        }


        100% {
            top: 95%;
            right: 30%;
            transform: rotate(-360deg);
        }
    }


    .ty_2 {
        animation: fifth_M_ty_2 85s linear infinite;
    }

    @keyframes fifth_M_ty_2 {
        0% {
            top: 35%;
            right: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 85%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 44%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 8%;
            left: 60%;
            transform: rotate(0deg);
        }

        50% {
            top: 78%;
            left: 15%;
            transform: rotate(100deg);
        }

        60% {
            top: 1%;
            right: 96%;
        }

        70% {
            top: 85%;
            right: 1%;
            transform: rotate(0deg);
        }

        80% {
            top: 6%;
            left: 96%;
            transform: rotate(-70deg);
        }

        90% {
            top: 5%;
            right: 40%;
            transform: rotate(-170deg);
        }


        100% {
            top: 95%;
            left: 95%;
            transform: rotate(-360deg);
        }
    }

    /* Animations start end*/
}

@media screen and (max-width:1280px) {
    .provisionSect {
        min-height: 748px;
    }

    /* Animations start */

    .bg_img_prov_1 {
        width: 12.854vw;
        height: 12.854vw;
        left: -3.604vw;
        top: -4.417vw;
    }

    .bg_img_prov_2 {
        width: 32.854vw;
        height: 32.854vw;
        left: -12.833vw;
        top: -13.646vw;
    }

    .bg_img_prov_3 {
        width: 25.208vw;
        height: 25.208vw;
        right: -10.021vw;
        top: -12.104vw;
    }

    .bg_img_prov_4 {
        left: 51.979vw;
        top: 22.896vw;
        width: 40.552vw;
        height: 22.8vw;
        animation: appearFromRight_XXL 1.2s ease-in-out;
        transform: rotate(10deg);
    }

    @keyframes appearFromRight_XXL {
        0% {
            left: 43.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 51.979vw;
        }
    }


    /* .bg_img_prov_5 {
        display: none;
    }

    .bg_img_prov_6 {
        display: none;
    } */


    .ty_1 {
        animation: fifth_M_ty_1 85s linear infinite;
    }

    @keyframes fifth_M_ty_1 {
        0% {
            top: 20%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 70%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 22%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 65%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 88%;
            left: 60%;
            transform: rotate(0deg);
        }

        50% {
            top: 5%;
            left: 15%;
            transform: rotate(100deg);
        }

        60% {
            top: 73%;
            left: 96%;
        }

        70% {
            top: 15%;
            left: 1%;
            transform: rotate(0deg);
        }

        80% {
            top: 81%;
            left: 40%;
            transform: rotate(-70deg);
        }

        90% {
            top: 5%;
            left: 90%;
            transform: rotate(-170deg);
        }


        100% {
            top: 95%;
            left: 30%;
            transform: rotate(-360deg);
        }
    }


    .ty_2 {
        animation: fifth_M_ty_2 85s linear infinite;
    }

    @keyframes fifth_M_ty_2 {
        0% {
            top: 35%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 85%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 44%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 8%;
            left: 60%;
            transform: rotate(0deg);
        }

        50% {
            top: 78%;
            left: 15%;
            transform: rotate(100deg);
        }

        60% {
            top: 1%;
            left: 96%;
        }

        70% {
            top: 85%;
            left: 1%;
            transform: rotate(0deg);
        }

        80% {
            top: 6%;
            left: 96%;
            transform: rotate(-70deg);
        }

        90% {
            top: 5%;
            left: 40%;
            transform: rotate(-170deg);
        }


        100% {
            top: 95%;
            left: 95%;
            transform: rotate(-360deg);
        }
    }

    /* Animations start end*/


}

@media screen and (max-width:968px) {
    .provisionSect {
        min-height: 626px;
    }

    /* Animation start */

    .bg_img_prov_1 {
        width: 30.854vw;
        height: 30.854vw;
        left: -14.604vw;
        top: -16.417vw;
        animation: spin 30s linear infinite;
        background-image: url(../img/first-img-element_2_A.png);
    }

    .bg_img_prov_2 {
        width: 30.854vw;
        height: 30.854vw;
        left: -21.833vw;
        top: 27.646vw;
        animation: spin 30s linear infinite;
    }

    .bg_img_prov_3 {
        position: absolute;
        width: 6.36vw;
        height: 6.36vw;
        left: 82.979vw;
        top: 5.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_L_FAQ 1.2s ease-in-out;
    }

    @keyframes appearFromRight_L_FAQ {
        0% {
            left: 77.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 82.979vw;
        }
    }

    .bg_img_prov_4 {
        width: 48.552vw;
        height: 27.8vw;
        left: 40.979vw;
        top: 27.896vw;
        animation: appearFromRight_XL 1.2s ease-in-out;
        transform: rotate(10deg);
    }

    @keyframes appearFromRight_XL {
        0% {
            left: 32.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 40.979vw;
        }
    }

    .bg_img_prov_5 {
        position: absolute;
        border: 4.2px solid #FF9149;
        border-radius: 50%;
        width: 1.502vw;
        height: 1.502vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }

    .bg_img_prov_6,
    .bg_img_prov_7 {
        display: none;
    }

    /* Animation end */
}


@media screen and (max-width:678px) {
    .provisionSect {
        background: linear-gradient(134.31deg, #0A30A3 -3.62%, #001447 46.92%);
        min-height: 826px;
    }

    /* Animation start */
    .bg_img_prov_1 {
        width: 35.854vw;
        height: 35.854vw;
        left: -14.604vw;
        top: -16.417vw;
        background-image: url(../img/first-img-element_2_A.png);
        animation: spin 30s linear infinite;
    }

    .bg_img_prov_2 {
        width: 35.854vw;
        height: 35.854vw;
        left: -21.833vw;
        top: 41.646vw;
        animation: spin 30s linear infinite;
    }

    .bg_img_prov_3 {
        position: absolute;
        width: 9.36vw;
        height: 9.36vw;
        left: 72.979vw;
        top: 6.696vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_L_FAQ 1.2s ease-in-out;
    }

    @keyframes appearFromRight_L_FAQ {
        0% {
            left: 67.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 72.979vw;
        }
    }

    .bg_img_prov_5 {
        position: absolute;
        border: 4.6px solid #FF9149;
        border-radius: 50%;
        width: 2.302vw;
        height: 2.302vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }

    .bg_img_prov_4 {
        position: absolute;
        width: 70.552vw;
        height: 39.8vw;
        left: 17.979vw;
        top: 45.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/first-img-element_4.svg);
        animation: appearFromRight_law_XXL 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_law_XXL {
        0% {
            left: 9.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 17.979vw;
        }
    }



}

@media screen and (max-width:428px) {
    .provisionSect {
        min-height: 645px;
        padding-inline: 0px;
    }

    /* Animation Start */

    .bg_img_prov_1 {
        width: 47.854vw;
        height: 47.854vw;
        left: -20.604vw;
        top: -17.417vw;
        background-image: url(../img/first-img-element_2_A.png);
        animation: spin 30s linear infinite;
    }

    .bg_img_prov_2 {
        display: none;
    }

    .bg_img_prov_3 {
        width: 14.36vw;
        height: 14.36vw;
        left: 74.979vw;
        top: 9.696vw;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_XL_S 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_XL_S {
        0% {
            left: 69.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 74.979vw;
        }
    }

    .bg_img_prov_5 {
        position: absolute;
        border: 4.2px solid #FF9149;
        border-radius: 50%;
        width: 3.402vw;
        height: 3.402vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }

    .bg_img_prov_4 {
        position: absolute;
        width: 70.552vw;
        height: 39.8vw;
        left: 14.979vw;
        top: 77.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/first-img-element_4.svg);
        animation: appearFromRight_law_XXL 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_law_XXL {
        0% {
            left: 6.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 14.979vw;
        }
    }
}

@media screen and (max-width:320px) {
    .provisionSect {
        min-height: 716px;
    }

    .bg_img_prov_1 {
        width: 55.854vw;
        height: 55.854vw;
        left: -27.021vw;
        top: -30.104vw;
        background-image: url(../img/first-img-element_2_A.png);
        animation: spin 30s linear infinite;
    }

    .bg_img_prov_3 {
        width: 18.36vw;
        height: 18.36vw;
        left: 76.979vw;
        top: 14.459vw;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_XL_S 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_XL_S {
        0% {
            left: 71.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 76.979vw;
        }
    }

    .bg_img_prov_5 {
        position: absolute;
        border: 4.2px solid #FF9149;
        border-radius: 50%;
        width: 4.602vw;
        height: 4.602vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }


    .bg_img_prov_4 {
        position: absolute;
        width: 70.552vw;
        height: 39.8vw;
        left: 14.979vw;
        top: 115.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/first-img-element_4.svg);
        animation: appearFromRight_law_XXL 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_law_XXL {
        0% {
            left: 6.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 14.979vw;
        }
    }


}



@media screen and (max-width:1440px) {


    .consH1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 42px;
        margin-top: 50px;
    }

    .consCenterH1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        margin-top: 50px;
    }

    .consumerMain {
        background: linear-gradient(122.6deg, rgba(7, 40, 138, 0.92) 0.92%, rgba(0, 20, 71, 0.92) 48.5%);
        min-height: 404px;
        gap: 27px;
        padding-top: 50px;
    }

}



@media screen and (max-width:1280px) {
    .topSpa {
        margin-top: 45px;
    }


}




@media screen and (max-width:968px) {
    .topSpa {
        display: none;
    }

    .consH1 {
        margin-top: 60px;
    }

    .consCenterH1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    .consumerMain {
        padding-bottom: 20px;
        margin-top: -5px !important;
    }

    .consCenterH1 {
        display: block;
    }
}




@media screen and (max-width:930px) {
    .provisionSect {
        padding-bottom: 40px;
    }
}


@media screen and (max-width: 678px) {
    .consumerMain {
        padding-top: 20px;
        min-height: 417px;
    }

    .provisionSect {
        padding-inline: 16px;
        padding-bottom: 0px;
    }

    .consH1 {
        text-align: center;
    }

    .consumerMain {
        max-width: 478px;
        width: 100%;
    }


}



@media screen and (max-width: 600px) {
    .consumeSect {
        padding-inline: 85px;
    }
}



@media screen and (max-width: 520px) {
    .provisionSect {
        padding-bottom: 15px;
    }

}




@media screen and (max-width: 428px) {

    .provisionSect {
        padding-inline: 0px;
        padding-bottom: 50px;
    }

    .consumerMain {
        min-height: 453px;
        border-radius: 0px;
        padding-inline: 16px;
        background: linear-gradient(122.6deg, rgba(7, 40, 138, 0.92) 0.92%, rgba(0, 20, 71, 0.92) 48.5%);

    }

    .consH1 {
        padding-inline: 16px;
        min-height: 130px;
        text-align: left;
    }

    .consCenterH1 {
        margin: 30px 16px;
    }

    .consumerMain {
        padding-top: 57px;
    }

    .consCenterH1 {
        display: none;
    }

}




@media screen and (max-width: 320px) {

    .consH1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 42px;
    }

    .consumerMain {
        padding-top: 40px;
        min-height: 532px;
    }

}