* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


@font-face {
    font-family: "Montserratarm";
    src: url(../fonts/fonts/Montserratarm-Medium/Montserratarm-Medium.ttf);
}

body {
    font-family: "Montserratarm";

}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.provisionSect {
    position: relative;
    width: 100%;
    min-height: 797px;
    background: linear-gradient(100.09deg, #0A30A3 0%, #001447 58.57%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 100px;
    overflow: hidden;
}

.topSpa {
    width: 100%;
    max-width: 1430px;
    margin-top: 40px;
    display: flex;
    gap: 6px;


}

.topSpa a,
span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;

}

.topSpa a:hover {
    color: #FFB25F;
}

.topSpa a:active {
    color: #FF7233;
}

.consH1 {
    width: 100%;
    max-width: 1430px;
    margin-top: 88px;
    /* font-size: 34px; */
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #F6F6F6;
    z-index: 2;
}

.consCenterH1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #F6F6F6;
    margin: 35px auto;
}

.consumerMain {
    max-width: 1430px;
    width: 100%;
    min-height: 380px;
    border-radius: 20px;
    background: linear-gradient(122.6deg, rgba(7, 40, 138, 0.92) 0.92%, rgba(0, 20, 71, 0.92) 48.5%);
    display: flex;
    flex-direction: column;
    gap: 47px;
    padding-inline: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 2;
}

.consumerMain {
    min-height: 349px !important;
}

.consMainInn {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.consMainInn span {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #F6F6F6;
}

.consMainInn a {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF9149;
    display: flex;
    align-items: center;
    gap: 12px;
}

.consCenterH1 {
    display: none;
}

/* Animation start */
.bg_img_prov_1 {
    position: absolute;
    width: 18.854vw;
    height: 18.854vw;
    background-repeat: no-repeat;
    left: -2.604vw;
    top: -10.417vw;
    z-index: 0;
    background-size: cover;
    background-image: url("../img/first-img-element_1.svg");
}

.bg_img_prov_2 {
    position: absolute;
    width: 53.854vw;
    height: 53.854vw;
    background-repeat: no-repeat;
    left: -24.833vw;
    top: -23.646vw;
    z-index: 0;
    background-size: cover;
    background-image: url("../img/first-img-element_2_A.png");
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg_img_prov_3 {
    position: absolute;
    width: 30.208vw;
    height: 30.208vw;
    right: -13.021vw;
    top: -20.104vw;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    background-image: url("../img/first-img-element_3_a.svg");
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.bg_img_prov_4 {
    position: absolute;
    width: 38.552vw;
    height: 21.8vw;
    left: 48.1vw;
    top: 11.896vw;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    background-image: url(../img/first-img-element_4.svg);
    animation: appearFromRight 1.2s ease-in-out;
    transform: rotate(3deg);
}

@keyframes appearFromRight {
    0% {
        left: 39.979vw;
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 47.979vw;
    }
}



/* Animation end */