* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Montserratarm";
  src: url(../fonts/fonts/Montserratarm-Medium/Montserratarm-Medium.ttf);
}

body {
  font-family: "Montserratarm";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.onlySection1 {
  width: 100%;
  min-height: 913px;
  background: radial-gradient(103.74% 103.74% at 56.76% 8.35%,
      #0A30A3 0%, #00152A 100%);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: 100px;
  padding-bottom: 60px;
  z-index: 1;
  overflow: hidden;
}



.sect1V1 {
  position: absolute;
  width: 1050px;
  height: 1050px;
  background-image: url(../img/first-img-element_2_A.png);
  background-repeat: no-repeat;
  background-size: 100%;
  top: -470px;
  left: -489px;
  animation: first 60s linear infinite;
  z-index: -1;
}

@keyframes first {
  0% {
    transform: rotate(130deg);

  }

  100% {
    transform: rotate(490deg);

  }
}

.sect1V2 {
  position: absolute;
  width: 579px;
  height: 579px;
  background-image: url(../img/sect_1V2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -389px;
  right: -247px;
  animation: second 20s linear infinite;
  z-index: -1;
}

@keyframes second {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.first-img-element_1 {
  position: absolute;
  width: 18.854vw;
  height: 18.854vw;
  background-repeat: no-repeat;
  left: -2.604vw;
  top: -10.417vw;
  z-index: 0;
  background-size: cover;
  background-image: url("../img/first-img-element_1.svg");
}

.first-img-element_4 {
  position: absolute;
  width: 38.552vw;
  height: 21.8vw;
  left: 49.979vw;
  top: 12.896vw;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
  background-image: url(../img/first-img-element_4.svg);
  animation: appearFromRight 1.2s ease-in-out;
  transform: rotate(11deg);
}

@keyframes appearFromRight {
  0% {
    left: 40.979vw;
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 49.979vw;
  }
}

.circlesesPart {
  display: flex;
  gap: 229px;
  z-index: 1;
  position: absolute;
  top: 93%;
  right: 69.7%;
  transform: rotate(314deg);
  z-index: -1;
}









.items_P {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 5px solid #FFFFFF;

}




.topSpa {
  max-width: 1430px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  gap: 6px;
}

.topSpa a,
span {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ffffff;
}

.topSpa a:hover {
  color: #ffb25f;
}

.topSpa a:active {
  color: #ff7233;
}

.partnerBg {
  max-width: 1430px;
  width: 100%;
  min-height: 628px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}

.partnerBg h1 {
  /* font-size: 34px; */
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6f6f6;
}

.partSp {
  max-width: 820px;
  width: 100%;
  /* font-size: 18px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2b2;
}

.partnerMain {
  width: 100%;
  height: 409px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: center;
}

.partnerMain p {
  /* font-size: 30px; */
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #f6f6f6;
}

.partMainInn {
  max-width: 945px;
  width: 100%;
  height: 238px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.partInnLeft {
  max-width: 396px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.partInnInp {
  max-width: 396px;
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.partInnInp span {
  max-width: 396px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #aaaaaa;
}

.partInp {
  max-width: 396px;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
}

.partInp:hover {
  border: 2px solid #ffb25f;
}



.partInp:focus {
  border: 2px solid #FF7233;
  outline: none;
}

.partInp:disabled {
  background: linear-gradient(0deg, #BDBDBD, #BDBDBD),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2px solid #BDBDBD;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDBDBD;
}







.partInnRight {
  max-width: 509px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.partInnRight span {
  max-width: 509px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #aaaaaa;
}

textarea {
  max-width: 509px;
  width: 100%;
  height: 216px;
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 8px;
  resize: none !important;
}

textarea:hover {
  border: 2px solid #ffb25f;
}

textarea:focus {
  border: 2px solid #FF7233;
  outline: none;
}

textarea:disabled {
  background: linear-gradient(0deg, #BDBDBD, #BDBDBD),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border: 2px solid #BDBDBD;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #BDBDBD;
}


textarea ::placeholder {
  color: #aaaaaa;
}

.partnerButt {
  border: none;
  max-width: 168px;
  width: 100%;
  height: 44px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(180deg, #ffb763 10.52%, #ff7233 78.75%);

  color: #001447;
}

.partnerButt:hover {
  cursor: pointer;
  border: 2px solid #ff7233;
  background: linear-gradient(0deg, #001447, #001447),
    linear-gradient(0deg, #ff7233, #ff7233);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ff7233;
}

.sect1V3, .orangeCircle1, .orangeCircle2, .caker{
  display: none;
}