* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


@font-face {
    font-family: "Montserratarm";
    src: url(../fonts/fonts/Montserratarm-Medium/Montserratarm-Medium.ttf);
}

body {
    font-family: "Montserratarm";

}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.our-partners-content {
    position: relative;
    width: 100%;
    min-height: 809px;
    background: linear-gradient(100.09deg, #0A30A3 0%, #001447 58.57%);
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.left-content {
    max-width: 1430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 100px;
    z-index: 1;
}

.left-content h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    letter-spacing: 0em;
    text-align: start;
    color: #F6F6F6;
    margin-bottom: 77px;
}

.all-partners {
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: start;
    color: #FFFFFF;
}

.general-content-partners {
    max-width: 1430px;
    width: 100%;
    display: grid;
    grid-template-columns: 310px 310px 310px;
    gap: 30px;
    z-index: 1;
}

.img-for-partner {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
}

/* Animation start */
.bg_img_our_1 {
    position: absolute;
    width: 18.854vw;
    height: 18.854vw;
    background-repeat: no-repeat;
    left: -2.604vw;
    top: -10.417vw;
    z-index: 0;
    background-size: cover;
    background-image: url("../img/first-img-element_1.svg");
}

.bg_img_our_2 {
    position: absolute;
    width: 53.854vw;
    height: 53.854vw;
    background-repeat: no-repeat;
    left: -24.833vw;
    top: -23.646vw;
    z-index: 0;
    background-size: cover;
    background-image: url("../img/first-img-element_2_A.png");
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg_img_our_3 {
    position: absolute;
    width: 30.208vw;
    height: 30.208vw;
    right: -13.021vw;
    top: -20.104vw;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    background-image: url("../img/first-img-element_3_a.svg");
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg_img_our_4 {
    position: absolute;
    width: 38.552vw;
    height: 21.8vw;
    left: 50.1vw;
    top: 14.896vw;
    background-size: cover;
    overflow: hidden;
    z-index: 0;
    background-image: url(../img/first-img-element_4.svg);
    animation: appearFromRight 1.2s ease-in-out;
    transform: rotate(10deg);
}

@keyframes appearFromRight {
    0% {
        left: 42.979vw;
        opacity: 0;
    }

    100% {
        opacity: 1;
        left: 50.979vw;
    }
}



/* Animation end */


/* Style for 1440px-1281px START */

@media only screen and (max-width: 1440px) {
    .our-partners-content {
        min-height: 783px;
    }

    .left-content {
        gap: 50px;
    }

    .general-content-partners {
        padding-inline: 0;
    }

    .left-content h1 {
        margin-bottom: 56px;
    }

    .left-content h1 {
        font-weight: 100;
    }

    /* Animations start */

    .bg_img_our_1 {
        width: 12.854vw;
        height: 12.854vw;
        left: -4.604vw;
        top: -5.417vw;
    }

    .bg_img_our_2 {
        width: 28.854vw;
        height: 28.854vw;
        left: -10.833vw;
        top: -11.646vw;
    }

    .bg_img_our_3 {
        width: 22.208vw;
        height: 22.208vw;
        right: -9.021vw;
        top: -11.104vw;
    }

    .bg_img_our_4 {
        left: 51.979vw;
        top: 15.296vw;
        width: 42.552vw;
        height: 23.8vw;
        animation: appearFromRight_XXL 1.2s ease-in-out;
        transform: rotate(10deg);
    }

    @keyframes appearFromRight_XXL {
        0% {
            left: 43.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 51.979vw;
        }
    }

    .bg_img_our_5 {
        position: absolute;
        width: 210px;
        height: 210px;
        background-repeat: no-repeat;
        left: 75.167vw;
        top: 35.646vw;
        z-index: 9;
        background-size: cover;
        background-image: url(../img/third-img-element_1.svg);
        animation: fallInFromTopRight_law 2.4s ease-in-out infinite;

    }

    @keyframes fallInFromTopRight_law {
        0% {
            top: 19vw;
            left: 100vw;
            height: 210px;
        }

        40% {
            opacity: 0.4;
        }

        100% {
            top: 35.646vw;
            left: 75.167vw;
            opacity: 0;
            height: 210px;
            ;
        }
    }

    .bg_img_our_6 {
        position: absolute;
        width: 210px;
        height: 210px;
        background-repeat: no-repeat;
        left: 75.167vw;
        top: 45.646vw;
        z-index: 9;
        background-size: cover;
        background-image: url(../img/third-img-element_1.svg);
        animation: fallInFromTopRight_law-A 2s ease-in-out infinite;

    }

    @keyframes fallInFromTopRight_law-A {
        0% {
            top: 24vw;
            left: 100vw;
            height: 210px;
        }

        40% {
            opacity: 0.4;
        }

        100% {
            top: 45.646vw;
            left: 75.167vw;
            opacity: 0;
            height: 210px;
            ;
        }
    }

    .bg_img_our_7 {
        position: absolute;
        width: 110px;
        height: 70px;
        background-image: url(../img/logo_run_monet.svg);
        background-repeat: no-repeat;
        background-size: cover;
        top: 50vw;
        left: 82vw;
        transform: rotate(37deg);
        z-index: 1;
        animation: fifth_M 85s linear infinite;
    }

    @keyframes fifth_M {
        0% {
            top: 77%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 55%;
            left: 40%;
            transform: rotate(20deg);
        }


        20% {
            top: 22%;
            right: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 99%;
            left: 96%;
            transform: rotate(90deg);
        }

        40% {
            top: 11%;
            left: 77%;
            transform: rotate(0deg);
        }

        50% {
            top: 22%;
            left: 39%;
            transform: rotate(100deg);
        }

        60% {
            top: 99%;
            left: 19%;
        }

        70% {
            top: 33%;
            left: 21%;
            transform: rotate(0deg);
        }

        80% {
            top: 99%;
            left: 74%;
            transform: rotate(-70deg);
        }

        90% {
            top: 55%;
            left: 54%;
            transform: rotate(-170deg);
        }


        100% {
            top: 11%;
            left: 2%;
            transform: rotate(-360deg);
        }
    }

    .ty_1 {
        animation: fifth_M_ty_1 85s linear infinite;
    }

    @keyframes fifth_M_ty_1 {
        0% {
            top: 20%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 70%;
            right: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 22%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 65%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 88%;
            left: 60%;
            transform: rotate(0deg);
        }

        50% {
            top: 5%;
            left: 15%;
            transform: rotate(100deg);
        }

        60% {
            top: 73%;
            right: 96%;
        }

        70% {
            top: 15%;
            left: 1%;
            transform: rotate(0deg);
        }

        80% {
            top: 81%;
            left: 40%;
            transform: rotate(-70deg);
        }

        90% {
            top: 5%;
            left: 90%;
            transform: rotate(-170deg);
        }


        100% {
            top: 95%;
            right: 30%;
            transform: rotate(-360deg);
        }
    }


    .ty_2 {
        animation: fifth_M_ty_2 85s linear infinite;
    }

    @keyframes fifth_M_ty_2 {
        0% {
            top: 35%;
            right: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 85%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 44%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 8%;
            left: 60%;
            transform: rotate(0deg);
        }

        50% {
            top: 78%;
            left: 15%;
            transform: rotate(100deg);
        }

        60% {
            top: 1%;
            right: 96%;
        }

        70% {
            top: 85%;
            right: 1%;
            transform: rotate(0deg);
        }

        80% {
            top: 6%;
            left: 96%;
            transform: rotate(-70deg);
        }

        90% {
            top: 5%;
            right: 40%;
            transform: rotate(-170deg);
        }


        100% {
            top: 95%;
            left: 95%;
            transform: rotate(-360deg);
        }
    }

    /* Animations start end*/


}

/* Style for 1440px-1281px END */


/* Style for 1280px-969px START */

@media only screen and (max-width: 1280px) and (min-width: 969px) {

    .our-partners-content {
        min-height: 748px;
    }

    .left-content {
        gap: 54px;
    }

    .general-content-partners {
        padding-inline: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 27px 54px;

    }

    .left-content h1 {
        margin-bottom: 56px;
    }

    .left-content h1 {
        font-weight: 100;
    }

    .bg_img_our_1 {
        width: 12.854vw;
        height: 12.854vw;
        left: -3.604vw;
        top: -4.417vw;
    }

    .bg_img_our_2 {
        width: 32.854vw;
        height: 32.854vw;
        left: -12.833vw;
        top: -13.646vw;
    }

    .bg_img_our_3 {
        width: 25.208vw;
        height: 25.208vw;
        right: -10.021vw;
        top: -12.104vw;
    }

    .bg_img_our_4 {
        left: 51.979vw;
        top: 22.896vw;
        width: 40.552vw;
        height: 22.8vw;
        animation: appearFromRight_XXL 1.2s ease-in-out;
        transform: rotate(10deg);
    }

    @keyframes appearFromRight_XXL {
        0% {
            left: 43.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 51.979vw;
        }
    }
}


/* Style for 1280px-969px END */






@media only screen and (max-width: 1170px) {
    .our-partners-content {
        padding-inline: 0px;
    }

    .left-content {
        padding-inline: 100px;
    }

    .general-content-partners {
        padding-inline: 50px;
        gap: 15px 0px;

    }

}


/* Style for 969px-679px START */

@media only screen and (max-width: 968px) {
    .general-content-partners {
        padding-inline: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 27px 54px;

    }

    .our-partners-content {
        padding-inline: 100px;
    }

    .left-content {
        padding-inline: 0px;
    }

    .our-partners-content {
        min-height: 626px;
    }

    .left-content {
        gap: 54px;
    }

    .general-content-partners {
        max-width: 700px;
        padding-inline: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 27px 0px;

    }

    .left-content h1 {
        margin-bottom: 50px;
    }

    .left-content h1 {
        font-weight: 100;
    }

    .all-partners {
        display: none;
    }

    .left-content {
        padding-top: 61px;
    }

    .img-for-partner img {
        width: 250px;
        height: 60px;
    }

    /* Animation start */

    .bg_img_our_1 {
        width: 30.854vw;
        height: 30.854vw;
        left: -14.604vw;
        top: -16.417vw;
        animation: spin 30s linear infinite;
        background-image: url(../img/first-img-element_2_A.png);
    }

    .bg_img_our_2 {
        width: 30.854vw;
        height: 30.854vw;
        left: -21.833vw;
        top: 27.646vw;
        animation: spin 30s linear infinite;
    }

    .bg_img_our_3 {
        position: absolute;
        width: 6.36vw;
        height: 6.36vw;
        left: 82.979vw;
        top: 5.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_L_FAQ 1.2s ease-in-out;
    }

    @keyframes appearFromRight_L_FAQ {
        0% {
            left: 77.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 82.979vw;
        }
    }

    .bg_img_our_4 {
        width: 48.552vw;
        height: 27.8vw;
        left: 40.979vw;
        top: 27.896vw;
        animation: appearFromRight_XL 1.2s ease-in-out;
        transform: rotate(10deg);
    }

    @keyframes appearFromRight_XL {
        0% {
            left: 32.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 40.979vw;
        }
    }

    .bg_img_our_6 {
        position: absolute;
        border: 4.2px solid #FF9149;
        border-radius: 50%;
        width: 1.502vw;
        height: 1.502vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }

    .bg_img_our_6,
    .bg_img_our_7 {
        display: none;
    }

    /* Animation end */
}

/* Style for 969px-679px END */


/* Style for 678px-429px START */

@media only screen and (max-width: 678px) {

    .our-partners-content {
        min-height: 826px;
    }

    .left-content {
        gap: 54px;
        padding-top: 60px;
    }

    .general-content-partners {
        max-width: 600px;
        padding-inline: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 21px 1px;
    }

    .all-partners {
        display: none;
    }

    .img-for-partner img {
        width: 220px;
        height: 60px;
    }

    .left-content h1 {
        margin-bottom: 50px;
    }

    /* Animation start */
    .bg_img_our_1 {
        width: 35.854vw;
        height: 35.854vw;
        left: -14.604vw;
        top: -16.417vw;
        background-image: url(../img/first-img-element_2_A.png);
        animation: spin 30s linear infinite;
    }

    .bg_img_our_2 {
        width: 35.854vw;
        height: 35.854vw;
        left: -21.833vw;
        top: 41.646vw;
        animation: spin 30s linear infinite;
    }

    .bg_img_our_3 {
        position: absolute;
        width: 9.36vw;
        height: 9.36vw;
        left: 72.979vw;
        top: 6.696vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_L_FAQ 1.2s ease-in-out;
    }

    @keyframes appearFromRight_L_FAQ {
        0% {
            left: 67.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 72.979vw;
        }
    }

    .bg_img_our_5 {
        position: absolute;
        border: 4.6px solid #FF9149;
        border-radius: 50%;
        width: 2.302vw;
        height: 2.302vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }

    .bg_img_our_4 {
        position: absolute;
        width: 70.552vw;
        height: 39.8vw;
        left: 17.979vw;
        top: 45.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/first-img-element_4.svg);
        animation: appearFromRight_law_XXL 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_law_XXL {
        0% {
            left: 9.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 17.979vw;
        }
    }
}

@media only screen and (max-width: 700px) and (min-width:600px) {

    .img-for-partner img {
        width: 225px;
        height: 60px;
    }

    .general-content-partners {
        max-width: 451px;
    }
}





/* Style for 678px-429px END */


@media only screen and (max-width: 600px) {
    .our-partners-content {
        padding-inline: 50px;
    }

    .left-content {
        padding-inline: 0px;
    }

}

/* Style for 505px-429px START */

@media only screen and (max-width: 505px) and (min-width: 429px) {


    .left-content {
        width: 100%;
    }
}

/* Style for 505px-429px END */


/* Style for 678px-429px START */
@media only screen and (max-width: 428px) {
    .our-partners-content {
        min-height: 414px;
    }

    .our-partners-content {
        padding-inline: 16px;
    }

    .left-content {
        gap: 54px;
        padding-top: 60px;
    }

    .general-content-partners {
        max-width: 428px;
        display: grid;
        grid-template-columns: 160px 160px;
        gap: 21px 58px;
    }

    .all-partners {
        display: none;
    }

    .img-for-partner img {
        width: 194px;
        height: 48px;
    }

    .left-content h1 {
        margin-bottom: 35px;
    }

    /* Animation Start */

    .bg_img_our_1 {
        width: 47.854vw;
        height: 47.854vw;
        left: -20.604vw;
        top: -17.417vw;
        background-image: url(../img/first-img-element_2_A.png);
        animation: spin 30s linear infinite;
    }

    .bg_img_our_2 {
        display: none;
    }

    .bg_img_our_3 {
        width: 14.36vw;
        height: 14.36vw;
        left: 74.979vw;
        top: 9.696vw;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_XL_S 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_XL_S {
        0% {
            left: 69.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 74.979vw;
        }
    }

    .bg_img_our_5 {
        position: absolute;
        border: 4.2px solid #FF9149;
        border-radius: 50%;
        width: 3.402vw;
        height: 3.402vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }

    .bg_img_our_4 {
        position: absolute;
        width: 70.552vw;
        height: 39.8vw;
        left: 14.979vw;
        top: 57.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/first-img-element_4.svg);
        animation: appearFromRight_law_XXL 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_law_XXL {
        0% {
            left: 6.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 14.979vw;
        }
    }

}

/* Style for 678px-429px END */



/* Style for 410px-200px START */
@media only screen and (max-width: 410px) {
    .our-partners-content {
        min-height: 627px;
    }

    .general-content-partners {
        grid-template-columns: 160px;
        padding-left: 0;
        padding-inline: 0;
        justify-content: center;
    }

    .left-content {
        gap: 54px;
        padding-top: 60px;
    }


    .left-content h1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 42px;
        letter-spacing: 0em;
    }

    .all-partners {
        display: none;
    }

    .img-for-partner img {
        width: 194px;
        height: 48px;
    }
}

/* Style for 380px-321px END */
@media screen and (max-width:320px) {
    .bg_img_our_1 {
        width: 55.854vw;
        height: 55.854vw;
        left: -27.021vw;
        top: -30.104vw;
        background-image: url(../img/first-img-element_2_A.png);
        animation: spin 30s linear infinite;
    }

    .bg_img_our_3 {
        width: 18.36vw;
        height: 18.36vw;
        left: 76.979vw;
        top: 14.459vw;
        background-image: url(../img/orange_first_section.svg);
        animation: appearFromRight_XL_S 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_XL_S {
        0% {
            left: 71.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 76.979vw;
        }
    }

    .bg_img_our_5 {
        position: absolute;
        border: 4.2px solid #FF9149;
        border-radius: 50%;
        width: 4.602vw;
        height: 4.602vw;
        left: 48.979vw;
        top: 4.2vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        animation: fifth_A 85s linear infinite;
    }

    @keyframes fifth_A {
        0% {
            top: -5%;
            left: 8%;
            transform: rotate(0deg);
        }

        10% {
            top: 20%;
            left: 90%;
            transform: rotate(20deg);
        }


        20% {
            top: 65%;
            left: 0%;
            transform: rotate(50deg);
        }

        30% {
            top: 95%;
            left: 70%;
            transform: rotate(90deg);
        }

        40% {
            top: 78%;
            left: 90%;
            transform: rotate(0deg);
        }

        50% {
            top: 20%;
            left: 45%;
            transform: rotate(100deg);
        }

        60% {
            top: 40%;
            left: 20%;
        }

        70% {
            top: 35%;
            left: 0%;
            transform: rotate(0deg);
        }

        80% {
            top: 45%;
            left: 90%;
            transform: rotate(-70deg);
        }

        90% {
            top: -5%;
            left: 0%;
            transform: rotate(-170deg);
        }


        100% {
            top: -17%;
            left: 8%;
            transform: rotate(-360deg);
        }
    }


    .bg_img_our_4 {
        position: absolute;
        width: 70.552vw;
        height: 39.8vw;
        left: 25.979vw;
        top: 191.896vw;
        background-size: cover;
        overflow: hidden;
        z-index: 0;
        background-image: url(../img/first-img-element_4.svg);
        animation: appearFromRight_law_XXL 1.2s ease-in-out;
        transform: rotate(15deg);
    }

    @keyframes appearFromRight_law_XXL {
        0% {
            left: 17.979vw;
            opacity: 0;
        }

        100% {
            opacity: 1;
            left: 25.979vw;
        }
    }

}


@media only screen and (max-width: 300px) {
    .left-content h1 {
        font-size: 24px;
    }

}